In [1]:
lst = []
#to get the ascii charecters of alphabets
for i in range(65,91):
    lst.append(chr(i))

In [4]:
lst2 = []
#double them
for j in range(len(lst)):
    for k in range(len(lst)):
        lst2.append(lst[j] + lst[k])

In [7]:
lst3 = []
#trible them
for l in range(len(lst)):
    for m in range(len(lst2)):
        lst3.append(lst[l] + lst2[m])

In [39]:
finallst = lst + lst2 + lst3
finallst[40:45] #example
len(finallst)

18278

In [13]:
import pandas as pd

In [40]:
df = pd.DataFrame(finallst, columns = ['Values'])
df.head()

  Values
0      A
1      B
2      C
3      D
4      E

In [36]:
def getval():
    global get
    get = int(input("Enter your number order:"))
    return df['Values'][get-1]
getval()